<!-- Container -->
<div class="w-1/2 bg-slate-100 rounded-lg  absolute z-50 top-0 right-0 h-1/2 p-2 border-ac-gray-150 font-roboto">
  <div class="flex justify-end w-full">
    <button (click)="closeProducts()" class="h-10 w-10 bg-slate-600 text-white rounded-full">X</button>
  </div>
  <div class=" flex mx-1 divide-x-2 divide-ac-button-200">
    <div class="text-2xl pr-2">{{ broker()?.name }}</div>  <div class="pl-2 text-2xl font-bold">{{ broker()?.broker_id }}</div>
  </div>
  <div>
    @defer {
      <div class="flex flex-wrap">

        @for (product of products()?.resource;track product) {
          <p class="bg-ac-button-350 text-white px-3 py-1 rounded-md mx-1 my-1">{{ product.product_name }}</p>
        }
      </div>
    } @loading (minimum 1s) {
      <p>Loading Products</p>
    }
  </div>
</div>

<!-- Button -->


