<div class="flex">
  <div class="bg-yellow-500 w-full">
    <ul>
      @for (report of rssEmails(); track report.report_id) {
        <div class="flex">
          <div class="bg-pink-500 w-1/4">
            <li>
              <p (click)="selectReport(report)">{{ report.report_id }}</p>
            </li>
            <div class="bg-red-500">
              <button (click)="onEditRss(report)">Edit</button>
            </div>
          </div>
          <div class=" flex-1">
            <mat-tab-group>
              <mat-tab label="First"> Content 1 </mat-tab>
              <mat-tab label="Second"> Content 2 </mat-tab>
            </mat-tab-group>
          </div>
        </div>

      }
    </ul>
  </div>


</div>
