<div class="w-5/6 mx-auto p-5 bg-white shadow grid grid-cols-12 mb-5 min-h-screen">
  <div class="col-span-3 p-2">
    <div class="flex flex-col">
    @for (email of emails();track email) {
      <!--        NB THE route names are based on the current product_names -->
      <a class="bg-ac-button-350 text-white px-3 py-1 rounded-md my-1 mr-2 block" [routerLink]="email.product_name.toLowerCase()">{{email.product_name | formatProductTitle}}</a>

    }
    </div>
  </div>
  <div class="col-span-9 bg-slate-600 p-2">
    <router-outlet></router-outlet>
  </div>
</div>
