<div class="w-full max-w-[1440px] bg-white shadow-2xl p-5 md:p-8 lg:p-10 mx-auto font-roboto font-light relative">
  <!--  Table Info Header-->
  <div class="w-full pb-2">
    <div class="pb-2">
      <div class="text-2xl">Email Configuration</div>
      <div>Configuration for new Email Service</div>
      <p>{{ devMode ? 'Running in Development' : 'Running in production' }}</p>
    </div>
  </div>

  <!--  HEADER-->
  <div class="w-full flex justify-between sticky top-0  py-2">
    <div class="flex-1  md:text-left">Broker</div>
    <div class="flex-1  md:text-left">Broker ID</div>
    <div class="flex-1  min-w-[125px] flex">
      <label class="inline-flex items-center cursor-pointer">
        <input type="checkbox" value="" (change)="toggleActive($event)" class="sr-only peer">
        <div
          class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600"></div>
        <span
          class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">{{ activeToggle() ? 'Active' : "Not Active" }}</span>
      </label>
    </div>

  </div>
  <div class="w-full flex justify-between sticky top-0  py-2">
    <div class="w-full md:w-1/3 my-2 focus:border-b-gray-300 border-b-2">
      <input class="w-full" (input)="updateQuery($event)" placeholder="  Start typing to filter brokers..."/>
    </div>
    <div class="w-full md:w-1/3 my-2 focus:border-b-gray-300 border-b-2">
      <input class="w-full" [value]="query_id()" type="number" placeholder="  Start typing to filter brokers..."/>
    </div>
  </div>

  <!--  Data-->
  @if (this.brokers().length > 0) {
    <div class="">
      @for (broker of getUsersForPage(); track broker.name) {
        <div class="w-full block md:flex items-center odd:bg-gray-100 even:bg-white px-2 py-4"
             (click)="logBroker($event,broker)">
          <div class="flex-1"><p>{{ broker.name }}</p></div>
          <div class="flex-1 font-bold">
            <div
              class="max-w-fit flex my-1">
              <p class="min-w-12  {{broker.active ? 'text-green-500 0 ' : ' text-red-500'}}">{{ broker.broker_id }} </p>
            </div>
          </div>
          <div class="flex-1">
            <button [routerLink]="['/emails', broker.broker_id]"
                    class="bg-ac-button-50 text-white hover:text-emerald-400 px-3 py-1 rounded-md"
                    (click)="logButtonClick(broker)">
              View Emails
            </button>
          </div>
        </div>
      }
    </div>
  } @else {
    <p>

    </p>
  }
</div>
<app-spinner [message]="'Loading brokers'"></app-spinner>

