@if (showToggle) {
  <div id="spinner" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50">
    <div
      class="inline-block h-28 w-28 animate-spin rounded-full border-8 border-solid border-[#01C38D] border-e-transparent align-[-0.125em] text-surface motion-reduce:animate-[spin_1.5s_linear_infinite] dark:text-white"
      role="status">
    <span
      class="flex items-center justify-center absolute inset-0 !z-10 !m-px !h-4 !w-4 !overflow-hidden !whitespace-nowrap !border-0 !p-0">
    </span>
    </div>
  </div>
}
